// Font
$mainFont                : 'Roboto', Arial, sans-serif;

// Size
$mainFontColor			: #0D0C24;
$mainFontSize			: 16px;
$mainFontWeight			: 400;
$mainLineHeight			: 24px;

//Отступы
$margin: 6px;

// Transition
$click: all .15s ease-in-out;


// Color
/*
Main
	- Основной акцентный цвет приложения желтый.
*/
$purple					: #FFF959;
$purple-1				: #F1E894;
$purple-2				: #F4F3DE;


/*
Secondary
	- Используются для специальных узких задач, таких как выделения ссылок,
	состояний ошибки и успеха, а также дополнительные брендовые цвета.
*/
$red					: #EE354F;
$see-blue				: #5A94AD;
$violet					: #985AAD;
$violet-dark			: #4B3776;

/*
Gray colors
	- Эти цвета используются в светлой теме для текстов, окраски иконок, обводок, кнопок и фонов.
*/
$black					: $mainFontColor;
$gray-80				: #4E4E60;
$gray-60				: #717184;
$gray-40				: #9292A2;
$gray-20				: #C5C5CE;
$gray-8					: #E9EAEE;
$gray-7					: #C7C7C7;
$gray-4					: #F5F6FA;
$gray-2					: #F7F7F7;

























// // Break points
// $xl_desktop              : 1920;
// $l_desktop               : 1680;
// $m_desktop               : 1366;
// $sm_desktop              : 1280;
// $xs_desktop              : 1152;
// $ms_desktop              : 1024;

// $xl_table                : 980;
// $l_table                 : 848;
// $m_table                 : 768;
// $s_table                 : 600;

// $xl_phone                : 533;
// $l_phone                 : 480;
// $m_phone                 : 320;


// $desktopWidth            : 1280px;
// $smDesktopWidth          : 980px;
// $tableWidth              : 768px;
// $phoneWidth              : 480px;
// $smPhoneWidth            : 320px;

// // Main color
// $default-color           : #ffffff;
// // $primary-color           : #444ce0;
// $success-color           : #63d544; // ++
// $danger-color            : #fc5c65;
// $warning-color           : #fed330;
// $light-color             : #999999;
// $purple-color            : #8854d0;

// $primary-color: #00AEEF;
// $blue-color: #185ccf;

// // User color
// $orange                  : #FF963F;
// $btn-secondary           : #DFE3F3;
// $bg-black                : #101828;

// // Neutral Color
// $neutral-primary         : #303133;
// // $neutral-regular         : #606266;
// $neutral-regular         : #484848;
// $neutral-secondary       : #909399;
// $neutral-placeholder     : #C0C4CC;
// $neutral-placeholder-2   : #d7e3e7;

// // Border Color
// $border-base             : #DCDFE6;
// $border-light            : #E4E7ED;
// $border-lighter          : #EBEEF5;
// $border-lightex          : #F2F6FC;

